# Folder
*/target/
*/.idea/
*/.settings/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.rar
*.tar.gz

# File
*.MF
*.log
*.class
*.prefs
*.project
*.classpath
*.properties
codewars/.factorypath
leetcode/.factorypath
algorithm/.factorypath
algorithm/.factorypath
codewars/codewars.iml
algorithm/algorithm.iml
.idea/vcs.xml
.idea/workspace.xml
leetcode/leetcode.iml
.idea/algorithms.iml
.idea/misc.xml
.idea/modules.xml
*.pyc
